{% extends '@sf2jamz/layout.html.twig' %}

{% block content -%}
    <div class="container"> 
    <h1  class="text-center">lista de Clientes 22</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Contrasena</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
       
        </tbody>
    </table>

       
    </div>
    {% endblock %}
